html, body {
    padding: 0;
    margin: 0;
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 1.05em;
    letter-spacing: 0.05em;
    color: #464646;
    background-color: #fff;
}

h1, h3 {
    font-family: 'Alegreya Sans SC';
    letter-spacing: 0.15em;
}

.intro, .about {
    background-color: #eee;
    margin: 20px 5px 20px 5px;
    position: relative;
}

.intro {
    background: #eee;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #abb7b7, #eee);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #abb7b7, #eee); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

/* Navigation */
.nav-top {
    background-color: #d2d7d3;
    border-radius: 0;
    height: 50px;
    padding: 10px;
    position: relative;
}

.nav-links ul {
    float: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 15px;
    height: 50px;
    margin-top: -10px;
    color: #464646;
}

.nav-links ul li:hover {
    text-decoration: none;
    opacity: 0.7;
    background-color: #eee;
    transition: all .2s ease-in-out;
}

/* Intro content */
.hero {
    height: 500px;
    padding-top: 150px;
}

/* Linkedin, Github icons */
.hero span i:first-child {
    color: #73C5E8;
}

.hero span:hover {
    opacity: 0.7;
    transition: all .2s ease-in-out;
}

/* Work section */
.work-title {
    background-color: #d2d7d3;
    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: center;
    padding: 10px;
}

.triangle {
    position: absolute;
    left: 50%;
    width: 30px;
    height: 20px;
    margin-left: -15px; /* Half the triangle width to keep it centered */
    background-color: #d2d7d3;
    -webkit-clip-path: polygon(100% 0, 0 0, 50% 100%);
    -moz-clip-path: polygon(100% 0, 0 0, 50% 100%);
    clip-path: polygon(100% 0, 0 0, 50% 100%);
}

.work-title-triangle {
    bottom: -20px;
}

.work {
    margin-top: 50px;
    margin-bottom: 50px;
}

.work a {
    background-color: #eee;
    margin-left: 5px;
    margin-right: 5px;
    transition: all .2s ease-in-out;
    opacity: 0.9;
    border: 0;
}

.work a:hover {
    transform: scale(1.02);
    opacity: 1;
}

.work img {
    height: 300px;
    width: 300px;
}

/* About section */
.about-title {
    background-color: #d2d7d3;
    position: absolute;
    width: 100%;
    text-align: center;
    padding: 10px;
}

.about-title-triangle {
    top: 75px;
}

.about-text {
    padding: 150px 50px 100px 50px;
}

.about a {
    color: #73C5E8;
}

.about a:hover {
    text-decoration: none;
    opacity: 0.7;
    transition: all .2s ease-in-out;
}

.about-text h3 span {
    border-bottom: 2px solid #73C5E8;
}

.about-text h3 span:hover {
    border-bottom: 2px solid #bfdfed;
    transition: all .2s ease-in-out;
}

.about .technologies ul li {
    list-style: none;
    margin-top: 10px;
}

/* Footer */
.footer {
    padding: 15px;
    border-top: 1px solid #fff;
    background-color: #d2d7d3;
}